{% extends 'base.html' %}
{% load static %}
{% block content %}
    <br>
    <br>
    <section id="pricing" class="home-section bg-gray paddingbot-60">
        <table class="table table-advance table-hover" style="padding: 2%; margin: auto; width: 80%;">
            <thead>
              <tr>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody id = "main">
                <tr>
                    <td> Plan Purchased</td>
                    <td> {{purchase.package_id.package_type}}</td>
                </tr>
                <tr>
                    <td> Total Cost</td>
                    <td> ${{purchase.premium_amount}}</td>
                </tr>
                <tr>
                    <td> Purchase Date</td>
                    <td> {{purchase.date}}</td>
                </tr>
                <tr>
                    <td> Services Accessible</td>
                    <td>
                        <ul>
                            {% for service in services %}
                            <li> {{service.service_name}}</li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td> Hospitals Accessible</td>
                    <td>
                        <ul>
                            {% for hospital in hospitals %}
                            <li> {{hospital.hospital_name}}</li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
            </tbody>
            </table>
    </section>

{% endblock %}