{% extends 'base.html' %}
{% load static %}
{% block content %}
    <br>
    <br>
    <section id="pricing" class="home-section bg-gray paddingbot-60">
        <div class="container marginbot-50">
          <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <div class="wow lightSpeedIn" data-wow-delay="0.1s">
                <div class="section-heading text-center">
                  <h2 class="h-bold">Health packages</h2>
                  <p>Take charge of your health today with our specially designed health packages</p>
                </div>
              </div>
              <div class="divider-short"></div>
            </div>
          </div>
        </div>
  
        <div class="container">
  
          <div class="row">
  
            <div class="col-sm-4 pricing-box">
              <div class="wow bounceInUp" data-wow-delay="0.1s">
                <div class="pricing-content general">
                  <h2>Basic Package</h2>
                  <h3>$149<sup>.99</sup> <span>/ per month</span></h3>
                  <ul>
                    <li>Anthropometry (BMI, WH Ratio) <i class="fa fa-check icon-success"></i></li>
                    <li>Post Examination Review <i class="fa fa-check icon-success"></i></li>
                    <li>General Screening – Basic <i class="fa fa-check icon-success"></i></li>
                    <li><del>Health Screening Report</del> <i class="fa fa-times icon-danger"></i></li>
                  </ul>
  
                  <div class="price-bottom">
                    <a href="{% url 'main:quote' %}?package=Basic" class="btn btn-skin btn-lg">Purchase</a>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="col-sm-4 pricing-box featured-price">
              <div class="wow bounceInUp" data-wow-delay="0.3s">
                <div class="pricing-content featured">
                  <h2>Platinum Package</h2>
                  <h3>$449<sup>.99</sup> <span>/ per month</span></h3>
                  <ul>
                    <li>Anthropometry (BMI, WH Ratio) <i class="fa fa-check icon-success"></i></li>
                    <li>Post Examination Review <i class="fa fa-check icon-success"></i></li>
                    <li>General Screening – Basic <i class="fa fa-check icon-success"></i></li>
                    <li>Body Composition Analysis <i class="fa fa-check icon-success"></i></li>
                    <li>GR Assessment & Scoring <i class="fa fa-check icon-success"></i></li>
                  </ul>
  
                  <div class="price-bottom">
                    <a href="{% url 'main:quote' %}?package=Platinum" class="btn btn-skin btn-lg">Purchase</a>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="col-sm-4 pricing-box">
              <div class="wow bounceInUp" data-wow-delay="0.2s">
                <div class="pricing-content general last">
                  <h2>Gold Package</h2>
                  <h3>$299<sup>.99</sup> <span>/ per month</span></h3>
                  <ul>
                    <li>Anthropometry (BMI, WH Ratio) <i class="fa fa-check icon-success"></i></li>
                    <li>Post Examination Review <i class="fa fa-check icon-success"></i></li>
                    <li>General Screening – Regular <i class="fa fa-check icon-success"></i></li>
                    <li><del>Health Screening Report</del> <i class="fa fa-times icon-danger"></i></li>
                  </ul>
  
                  <div class="price-bottom">
                    <a href="{% url 'main:quote' %}?package=Premium" class="btn btn-skin btn-lg">Purchase</a>
                  </div>
                </div>
              </div>
            </div>
  
          </div>
  
        </div>
      </section>

{% endblock %}
  